<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>
	Comments on: Woohoo! We&#8217;re famous!	</title>
	<atom:link href="https://yoga-life.com.au/woohoo-were-famous/feed/" rel="self" type="application/rss+xml" />
	<link>https://yoga-life.com.au/woohoo-were-famous/?utm_source=rss&#038;utm_medium=rss&#038;utm_campaign=woohoo-were-famous</link>
	<description>Yoga studio in Warragul</description>
	<lastBuildDate>Wed, 13 Dec 2017 05:27:39 +0000</lastBuildDate>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=5.3.1</generator>
</channel>
</rss>
