<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>News &#8211; Yoga Life Warragul</title>
	<atom:link href="https://yoga-life.com.au/category/news/feed/" rel="self" type="application/rss+xml" />
	<link>https://yoga-life.com.au/</link>
	<description>Yoga studio in Warragul</description>
	<lastBuildDate>Fri, 09 Mar 2018 22:55:31 +0000</lastBuildDate>
	<language>en-US</language>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=5.3.1</generator>
	<item>
		<title>What is your focus in your yoga &#038; meditation practice?</title>
		<link>https://yoga-life.com.au/focus-yoga-meditation-practice/?utm_source=rss&#038;utm_medium=rss&#038;utm_campaign=focus-yoga-meditation-practice</link>
				<pubDate>Fri, 09 Mar 2018 22:55:31 +0000</pubDate>
		<dc:creator><![CDATA[caitlin@yoga-life.com.au]]></dc:creator>
				<category><![CDATA[News]]></category>

		<guid isPermaLink="false">http://yoga-life.com.au/?p=6580</guid>
				<description><![CDATA[Just like any area of your life, to grow further in our yoga and meditation practice, we need to be focused. A great way to help us stay focused in to set goals. Goal setting is a powerful process for thinking about your ideal future, and for motivating yourself to turn your vision of this [&#8230;]]]></description>
								<content:encoded><![CDATA[<p>Just like any area of your life, to grow further in our yoga and meditation practice, we need to be focused.</p>
<p>A great way to help us stay focused in to set goals. Goal setting is a powerful process for thinking about your ideal future, and for motivating yourself to turn your vision of this future into reality.</p>
<div class="text_exposed_show">
<p>The process of setting goals helps you choose what you want to receive from your practice on a daily basis, but also what you are working towards.</p>
<p>For example, perhaps you are coming to yoga to bring more relaxation to your life. You might easily find that state of relaxation in class, only to become stressed again once you are at home or work. In this case, perhaps you could also set a goal to practice mindful breathing during the busiest times of your day.</p>
<p>If you identify a particular part of the body that you need to strengthen or create more flexibility, perhaps you could set a goal to do some extra practice at home using postures that target that particular part of the body.</p>
<p>By knowing precisely what you want to achieve from your yoga practice, you know where you have to concentrate your efforts. You&#8217;ll also quickly spot the distractions that can, so easily, lead you astray.</p>
<p>What is your focus in your yoga and meditation practice? And what goals can you set for yourself today to help realise your vision?</p>
</div>
<p>&nbsp;</p>
]]></content:encoded>
										</item>
		<item>
		<title>Woohoo! We&#8217;re famous!</title>
		<link>https://yoga-life.com.au/woohoo-were-famous/?utm_source=rss&#038;utm_medium=rss&#038;utm_campaign=woohoo-were-famous</link>
				<comments>https://yoga-life.com.au/woohoo-were-famous/#respond</comments>
				<pubDate>Wed, 13 Dec 2017 05:27:39 +0000</pubDate>
		<dc:creator><![CDATA[caitlin@yoga-life.com.au]]></dc:creator>
				<category><![CDATA[News]]></category>

		<guid isPermaLink="false">http://yoga-life.com.au/?p=6446</guid>
				<description><![CDATA[Thanks to the Warragul Gazette for posting this fantastic editorial for us! Can&#8217;t wait for our opening day on January 1st, 2018. Please note: There is a typo in the article. Meant to say Caitlin has completed a 200 Hour training, nor 500 Hours. Although she will have the 500 Hours by next year! xx]]></description>
								<content:encoded><![CDATA[<p>Thanks to the Warragul Gazette for posting this fantastic editorial for us!</p>
<p>Can&#8217;t wait for our opening day on January 1st, 2018.</p>
<p><span id="fbPhotoSnowliftCaption" class="fbPhotosPhotoCaption" tabindex="0" aria-live="polite" data-ft="{&quot;tn&quot;:&quot;K&quot;}"><span class="hasCaption">Please note: There is a typo in the article. Meant to say Caitlin has completed a 200 Hour training, nor 500 Hours. Although she will have the 500 Hours by next year! xx</span></span></p>
]]></content:encoded>
							<wfw:commentRss>https://yoga-life.com.au/woohoo-were-famous/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
							</item>
	</channel>
</rss>
